body{
    touch-action: manipulation;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #1a1a1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #5d4140
}

.night{
    background-color: #1a1a1b;
    color: white;
}

#night-toggle{
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    color: white;
}

.header h1{
    font-weight: 700;
    color: white;
    font-size: 5vh;
}


.header i{
    font-size: 2.5vmax;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pyramid{
    gap: 10px;
    width: 50vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    gap: 5px;
    width: 50vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    width: 5vmax;
    height: 5vmax;
    border: 2px #1a1a1b solid;
    box-shadow: 0px 10px 67px 4px rgba(0,0,0,0.25);
    transition: box-shadow 0.15s;
    border-radius: 20%;
    transition: transform 0.15s;
}

.space p{
    text-align: center;
    font-size: 2.5vmax;
    margin: 0;
    font-weight: bold;
}

.space:hover{
    background-color: linear-gradient(0deg, rgba(221,220,219,1) 0%, rgba(249,249,249,1) 100%);
    box-shadow: inset 0px 10px 67px 4px rgba(0,0,0,0.25);
    cursor: pointer;
}

.space:active{
    transform: scale(95%);
}

.space-add {
    height: calc(5vmax - 8.8px);
    width: 5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,220,205);
    background: linear-gradient(45deg, rgba(255,220,205,1) 50%, rgba(231,180,158,1) 100%);
    border-bottom: 9px #da9e93 solid;
    border-radius: 20%;
    color: #5d4140
}

.correct{
    background: #28b976;
    color: white;
}

.wrong{
    background: #b92d28;
    color: white;
}


.bottom{
    width: 25vmax;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom i{
    font-size: 60px;
}

.restart{
    height: calc(4vmax);
    width: calc(4vmax); 
    background-color:white;
    border-radius: 50%;
    color: rgb(123, 120, 120);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skip{
    height: calc(4vmax);
    width: calc(4vmax); 
    background-color: rgb(123, 120, 120);
    border-radius: 2vmax;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter{
    height: calc(5vmax - 11px);
    width: calc(5vmax - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,220,205);
    background: linear-gradient(45deg, rgba(255,220,205,1) 50%, rgba(231,180,158,1) 100%);
    border: 0;
    border-bottom: calc((5vmax - 11px)/5) #da9e93 solid;
    border-radius: 20%;
}

.letter p{
    text-align: center;
    font-size: 2.5vmax;
    margin: 0;
    font-weight: bold;
    color: #5d4140
}

.bottom i{
    cursor: pointer;
}

/* Modal content styles */
dialog {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%; /* Adjust width */
    max-width: 500px; /* Add max-width to prevent excessive width */
    max-height: 70vh; /* Adjust max-height */
    overflow: auto;
}

dialog h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

dialog h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

dialog p {
    font-size: 16px;
    margin-bottom: 20px;
}

dialog img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

dialog button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

dialog button:hover {
    background-color: #0056b3;
}



@keyframes pop-in{
    from{
        transform: scale(0%);
    }
    to {
        transform: scale(100%);
    }
}

@media only screen and (max-width: 600px) {
    .space {
        width: 8vmax; 
        height: 8vmax; 
    }
    .space-add {
        height: calc(8vmax - 8.8px);
        width: 8vmax;
    }
    .letter{
        height: calc(8vmax - 11px);
        width: calc(8vmax - 2px);

    }

    .letter p,
    .space p{
        font-size: 5vmax;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .space,
    .space-add,
    .letter {
        width: 8vmax; /* Adjust width for medium screens */
        height: 8vmax; /* Adjust height for medium screens */
    }
}
